.mainContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    text-align: center;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
}

.card {
    background-color:rgb(48, 45, 45);
    width: 400px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    text-align: center;
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    box-sizing:border-box;
    transition: 0.5s;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card input {
    border-radius: 50px;
    height: 50px;
    width: 300px;
    margin: auto;
    /* margin-top: 30px; */
    border: none;
    background-color: rgb(27, 26, 26);
    color: white;
    padding-left: 30px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.btn{
    border-radius: 50px;
    height: 50px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    border: none;
    background-color: white;
    color: black;
    opacity: 1;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(27, 26, 26);
    color: white;
    cursor: pointer;
}

.btnClose {
    all: unset;
    margin-left: auto;
    border-radius: 5px;
    text-align: center;
    width: 1.5rem;
    transition: 0.5s;
}

.btnClose:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 600px) {
    .card {
        width: 300px;
    }
    .card input {
        width: 250px;
    }
    .btn{
        width: 250px;
    }
}